{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-panel">  
<div class="content-wrapper">
<div class="row">
<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Profile</h4>
        <form class="form-sample" action="{% url 'profile_add' %}" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                  <label class="col-sm-3 col-form-label">User</label>
                  <div class="col-sm-9">
                    <select name="selected_username" class="form-control">
                        <option value="" selected disabled>Select User</option>
                        {% for user in strings_group_users %}
                            <option value="{{ user.username }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                </div>
              </div>
          </div>
          
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Company Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="company_name" value="{% if form_data %}{{ form_data.company_name }}{% endif %}"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" value="{% if form_data %}{{ form_data.email }}{% endif %}">Email Id</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="email"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Phone Number</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="phone_number"/ value="{% if form_data %}{{ form_data.phone_number }}{% endif %}">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Reference Number</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="reference_number" value="{% if form_data %}{{ form_data.reference_number }}{% endif %}"/>
                </div>
              </div>
            </div>            
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Contact Person</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="contact_person" value="{% if form_data %}{{ form_data.contact_person }}{% endif %}"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Name of the Plan</label>
                  <div class="col-sm-9">
                      <select class="form-control" name="plan_name">
                          <option value="" selected disabled>Select a plan</option>
                          <option value="1 Month" {% if form_data.plan_name == '1 Month' %} selected {% endif %}>1 Month</option>
                          <option value="6 Months" {% if form_data.plan_name == '6 Months' %} selected {% endif %}>6 Months</option>
                          <option value="1 Year" {% if form_data.plan_name == '1 Year' %} selected {% endif %}>1 Year</option>
                      </select>
                  </div>
              </div>
          </div>         
                 
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Subscription Details</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-6">
                                <label class="col-form-label">From Date</label>
                                <input type="date" class="form-control" name="from_date" value="{{ form_data.from_date }}">
                              </div>
                            <div class="col-6">
                                <label class="col-form-label">End Date</label>
                                <input type="date" class="form-control" name="end_date" value="{{ form_data.end_date }}">
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <p class="card-description">
          Billing Address
      </p>
      <div class="row">
          <div class="col-md-6">
              <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Address 1</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" name="address1" value="{{ form_data.address1 }}">
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group row">
                  <label class="col-sm-3 col-form-label">State</label>
                  <div class="col-sm-9">
                      <select class="form-control" name="state">
                          <option value="" selected disabled>Select a state</option>
                          {% for state_code, state_name in state_choices %}
                              <option value="{{ state_code }}" {% if form_data.state == state_code %} selected {% endif %}>{{ state_name }}</option>
                          {% endfor %}
                      </select>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="row">
          <div class="col-md-6">
              <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Address 2</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" name="address2" value="{{ form_data.address2 }}">
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Postcode</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" name="postcode" value="{{ form_data.postcode }}">
                  </div>
              </div>
          </div>
      </div>
      
      <div class="row">
          <div class="col-md-6">
              <div class="form-group row">
                  <label class="col-sm-3 col-form-label">City</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" name="city" value="{{ form_data.city }}">
                  </div>
              </div>
          </div>
      </div>
      
        
          <div class="row d-flex justify-content-center">
              <button type="submit" class="btn btn-primary ml-2">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}