<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <div style="background-color: #f4f4f4; padding: 20px; text-align: center;">
        <h1 style="color: #333;">Welcome, {{ first_name }}!</h1>
        <p style="font-size: 18px;">Thank You for Visiting Our Stall at Excon 2023!</p>
    </div>
    <div style="padding: 20px;">
        <p>Hello {{ first_name }},</p>
            <p>We are truly grateful for your visit to our stall at Excon 2023. Your presence added immense value to our experience, and we hope you had an enjoyable and informative time.</p>
            <p>We were thrilled to showcase our latest products and engage with you to discuss how we can meet your needs and exceed your expectations.</p>
			<p>To get an in-depth look into Propel and what sets us apart, kindly visit the below link to view our video.<br>
               Video Link: https://youtu.be/fjiWJ26Wnpw?si=RXtbwHFpN92AjhqI</p>
			<p>Learn about our deep industry knowledge and the exceptional services & products we provide, by visiting our website mentioned below.<br>
               Website: https://propelind.com/</p>
			<p>Feel free to reach out to us, and we will assist you in any way we can.<br>
               Customer Care Number: +91 99940 60001</p><br><br>
			<p>Best Regards,<br>
               Team Propel</p>
        </div>
    </body>
    </html>